<div class="h-screen w-full">
  <form class="mt-60 w-full flex gap-x-5 justify-center align-center">
    <input
      class="py-2 px-2 w-74 text-2xl border-2 border-black rounded-xl justify-center align-center"
      [(ngModel)]="userCode"
      name="userCode"
      placeholder="Enter the generated code"
      autocomplete="off"
      autofocus
      required
    />
    <button (click)="validateCode()" class="py-2 px-4 border-2 border-black rounded-xl bg-blue-500 hover:bg-blue-300 hover:text-white transition-colors duration-300" type="button">Submit</button>
  </form>
</div>

